@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap");
:root {
  --bodyBg: #F7F9FF;
  --bgBtn: #3E63DD;
  --bgBtnHover: #3358D4;
  --bgComponent: #EDF2FE;
  --bgComponentHover: #E1E9FF;
  --textColor: #1F2D5C;
  --titleColor: #3A5BC7;
  --border: #C1D0FF;
  --spanBgModal: #3E63DD;
  --spanColorModal: white;
  --spanHoverModal: #3358D4;
}

[data-theme=dark] {
  --bodyBg: #11131F;
  --bgBtn: #3E63DD;
  --bgBtnHover: #5472E4;
  --bgComponent: #182449;
  --bgComponentHover: #1D2E62;
  --textColor: #D6E1FF;
  --titleColor: #9EB1FF;
  --border: #304384;
  --spanBgModal: white;
  --spanColorModal: #182449;
  --spanHoverModal: #1D2E62;
}

@keyframes appear {
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes disappear {
  100% {
    opacity: 0;
    transform: translateX(1000px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  scroll-behavior: smooth;
}

body {
  background: var(--bodyBg);
  padding: 30px 100px;
  transition: 0.3s ease-in-out;
  position: relative;
}

body.antiScroll {
  overflow-y: hidden;
}

.skills, .projects, .contact {
  color: var(--titleColor);
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  background: rgba(17, 19, 31, 0.8);
}

@media screen and (max-width: 1024px) {
  body {
    padding: 20px 50px;
  }
}
@media screen and (max-width: 768px) {
  body {
    padding: 20px;
  }
}
@media screen and (max-width: 425px) {
  .skills, .projects, .contact {
    font-size: 2rem;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  opacity: 0;
  transform: translateY(-30px);
  animation: appear 0.5s 1s ease-out forwards;
}
@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 530px) {
  .header {
    justify-content: center;
  }
}
.header .header-logo {
  height: 60px;
  width: 60px;
  background: var(--textColor);
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .header .header-logo {
    height: 45px;
    width: 45px;
  }
}
@media screen and (max-width: 530px) {
  .header .header-logo {
    display: none;
  }
}
.header .header-logo span {
  color: var(--bodyBg);
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .header .header-logo span {
    font-size: 1rem;
  }
}
.header .navbar {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media screen and (max-width: 768px) {
  .header .navbar {
    gap: 20px;
  }
}
@media screen and (max-width: 530px) {
  .header .navbar {
    justify-content: center;
    flex-wrap: wrap;
  }
}
.header .navbar .nav-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 30px;
}
@media screen and (max-width: 530px) {
  .header .navbar .nav-list {
    order: 2;
  }
}
.header .navbar .nav-list .nav-li {
  position: relative;
  padding-bottom: 4px;
}
.header .navbar .nav-list .nav-li:hover::after {
  width: 100%;
}
.header .navbar .nav-list .nav-li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--textColor);
  transition: width 0.2s ease-in-out;
}
.header .navbar .nav-list .nav-li a {
  text-decoration: none;
  color: var(--textColor);
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  .header .navbar .nav-list .nav-li a {
    font-size: 1rem;
  }
}
.header .navbar .dark-mode {
  display: flex;
}
.header .navbar .dark-mode .dark-mode-input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.header .navbar .dark-mode .dark-mode-input:checked + .dark-mode-label {
  background: #242424;
}
.header .navbar .dark-mode .dark-mode-input:checked + .dark-mode-label::after {
  left: 62px;
  transform: translateX(-100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}
.header .navbar .dark-mode .dark-mode-input:checked + .dark-mode-label .sun {
  color: #7e7e7e;
}
.header .navbar .dark-mode .dark-mode-input:checked + .dark-mode-label .moon {
  color: #fff;
}
.header .navbar .dark-mode .dark-mode-label {
  width: 65px;
  height: 30px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}
.header .navbar .dark-mode .dark-mode-label:active::after {
  width: 30px;
}
.header .navbar .dark-mode .dark-mode-label::after {
  content: "";
  width: 25px;
  height: 25px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.header .navbar .dark-mode .dark-mode-label i {
  position: absolute;
  font-size: 1.2rem;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.header .navbar .dark-mode .dark-mode-label .sun {
  left: 15px;
  color: #fff;
  transition: 0.3s;
}
.header .navbar .dark-mode .dark-mode-label .moon {
  left: 50px;
  color: #7e7e7e;
  transition: 0.3s;
}
.header .navbar .dark-mode .dark-mode-label span {
  color: white;
}

#about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  #about {
    flex-direction: column;
    gap: 30px;
  }
}
#about .about {
  width: 60%;
}
@media screen and (max-width: 768px) {
  #about .about {
    width: 100%;
    order: 2;
  }
}
#about .about .presentation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;
}
#about .about .presentation .hello {
  color: var(--titleColor);
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  opacity: 0;
  transform: translateY(-50px);
  animation: appear 0.5s 0.1s ease-out forwards;
}
#about .about .presentation .name-container .name {
  color: var(--titleColor);
  font-family: "Roboto", sans-serif;
  font-size: clamp(3rem, 5vw + 1rem, 6.2rem);
  padding-left: 10px;
  opacity: 0;
  transform: translateY(-50px);
  animation: appear 0.5s 0.3s ease-out forwards;
}
#about .about .presentation .name-container .fam {
  animation-delay: 0.5s;
}
#about .about .presentation .description {
  color: var(--textColor);
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  line-height: 30px;
  padding-left: 10px;
  opacity: 0;
  transform: translateY(-30px);
  animation: appear 0.5s 0.7s ease-out forwards;
}
@media screen and (max-width: 425px) {
  #about .about .presentation .description {
    font-size: 1rem;
    line-height: 23px;
  }
}
#about .about .presentation .description strong {
  font-size: 1.5rem;
}
@media screen and (max-width: 425px) {
  #about .about .presentation .description strong {
    font-size: 1.2rem;
  }
}
#about .avatar {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  transform: translateX(50px);
  animation: appear 0.5s 0.7s ease-out forwards;
}
@media screen and (max-width: 768px) {
  #about .avatar {
    width: 100%;
    justify-content: center;
  }
}
#about .avatar img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 768px) {
  #about .avatar img {
    width: 200px;
    height: 200px;
  }
}

.my-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 10px;
}
.my-links .btn-link {
  background: var(--bgBtn);
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  opacity: 0;
  transform: translateX(-50px);
  transition: 0.2s;
  animation: appear 0.5s ease-out forwards;
}
.my-links .btn-link:nth-child(1) {
  animation-delay: 1.2s;
}
.my-links .btn-link:nth-child(2) {
  animation-delay: 1.1s;
}
.my-links .btn-link:nth-child(3) {
  animation-delay: 1s;
}
.my-links .btn-link:nth-child(4) {
  animation-delay: 0.9s;
}
.my-links .btn-link:nth-child(5) {
  animation-delay: 0.8s;
}
.my-links .btn-link:nth-child(6) {
  animation-delay: 0.7s;
}
.my-links .btn-link:hover {
  background: #5472E4;
}
.my-links .btn-link a {
  text-decoration: none;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .my-links .btn-link a {
    font-size: 0.8rem;
  }
}
.my-links .btn-link a i {
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .my-links .btn-link a i {
    margin-right: 8px;
  }
}

#skills {
  text-align: center;
}
#skills .skills {
  margin-bottom: 50px;
}
#skills .skills-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  #skills .skills-container {
    flex-direction: column;
  }
}
#skills .skills-container .techno-container {
  border-right: 1px solid var(--border);
  padding: 50px 50px 50px 0;
}
@media screen and (max-width: 768px) {
  #skills .skills-container .techno-container {
    border: none;
    margin-bottom: 50px;
    padding: 0 20px;
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  #skills .skills-container .techno-container {
    padding: 0;
    margin-bottom: 35px;
  }
}
#skills .skills-container .techno-container .techno-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  gap: 50px;
}
@media screen and (max-width: 768px) {
  #skills .skills-container .techno-container .techno-list {
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 40px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 425px) {
  #skills .skills-container .techno-container .techno-list {
    padding-bottom: 35px;
  }
}
#skills .skills-container .techno-container .techno-list .techno {
  color: var(--textColor);
  font-size: 4rem;
  opacity: 0;
  transform: translateY(50px);
}
@media screen and (max-width: 768px) {
  #skills .skills-container .techno-container .techno-list .techno {
    font-size: 3rem;
  }
}
#skills .skills-container .techno-container .techno-list .techno.active {
  animation: appear 0.7s ease-out forwards;
}
#skills .skills-container .techno-container .techno-list .techno.active:nth-child(2) {
  animation-delay: 0.1s;
}
#skills .skills-container .techno-container .techno-list .techno.active:nth-child(3) {
  animation-delay: 0.2s;
}
#skills .skills-container .techno-container .techno-list .techno.active:nth-child(4) {
  animation-delay: 0.3s;
}
#skills .skills-container .techno-container .techno-list .techno.active:nth-child(5) {
  animation-delay: 0.4s;
}
#skills .skills-container .techno-container .techno-list .techno.active:nth-child(6) {
  animation-delay: 0.5s;
}
#skills .skills-container .techno-container .techno-list .techno.active:nth-child(7) {
  animation-delay: 0.6s;
}
#skills .skills-container .techno-container .techno-list .techno.active:nth-child(8) {
  animation-delay: 0.7s;
}
#skills .skills-container .techno-container .techno-list .ps {
  background: var(--textColor);
  border-radius: 8px;
  color: var(--bodyBg);
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
}
@media screen and (max-width: 768px) {
  #skills .skills-container .techno-container .techno-list .ps {
    height: 45px;
    width: 45px;
    border-radius: 5px;
    font-size: 1.5rem;
  }
}
#skills .skills-container .more-container {
  padding-left: 50px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  #skills .skills-container .more-container {
    padding: 0;
  }
}
#skills .skills-container .more-container .additionnal-skills .add-li {
  color: var(--textColor);
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  line-height: 25px;
  opacity: 0;
  transform: translateX(-50px);
}
#skills .skills-container .more-container .additionnal-skills .add-li.active-li {
  animation: appear 0.5s ease-out forwards;
}
#skills .skills-container .more-container .additionnal-skills .add-li.active-li:nth-child(2) {
  animation-delay: 0.1s;
}
#skills .skills-container .more-container .additionnal-skills .add-li.active-li:nth-child(3) {
  animation-delay: 0.2s;
}
#skills .skills-container .more-container .additionnal-skills .add-li.active-li:nth-child(4) {
  animation-delay: 0.3s;
}
#skills .skills-container .more-container .additionnal-skills .add-li.active-li:nth-child(5) {
  animation-delay: 0.4s;
}
#skills .skills-container .more-container .additionnal-skills .add-li.active-li:nth-child(6) {
  animation-delay: 0.5s;
}
#skills .skills-container .more-container .additionnal-skills .add-li:nth-child(3) {
  border-bottom: 1px solid var(--border);
  padding-bottom: 15px;
}
#skills .skills-container .more-container .additionnal-skills .add-li:nth-child(4) {
  padding-top: 15px;
}

#projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 100px;
  position: relative;
}
#projects .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
#projects .container .project-container {
  background: var(--bgComponent);
  border-radius: 5px;
  flex: auto;
  padding: 20px;
  box-shadow: inset 0 0 0 1px var(--border);
  max-width: 335px;
}
#projects .container .project-container .title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
#projects .container .project-container .title-container .title-project {
  color: var(--titleColor);
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}
#projects .container .project-container .title-container i {
  color: var(--textColor);
  font-size: 0.85rem;
  cursor: pointer;
}
#projects .container .project-container .description-container {
  margin-bottom: 15px;
}
#projects .container .project-container .description-container .description-project {
  color: var(--textColor);
  font-family: "Lato", sans-serif;
  line-height: 22px;
}
#projects .container .project-container .redirection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#projects .container .project-container .redirection i {
  color: var(--textColor);
  font-size: 1rem;
}

.span-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}
.span-container .span-project {
  background: var(--bgBtn);
  border-radius: 50px;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 3px 15px;
}

.modal {
  background: var(--bgComponent);
  font-family: "Lato", sans-serif;
  padding: 50px 30px;
  max-width: 550px;
  min-width: 320px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  transform: translateX(1000px);
  z-index: 1000;
  box-shadow: inset 5px 0 0 0 var(--border);
}
@media screen and (max-width: 500px) {
  .modal {
    overflow: scroll;
    overflow-x: hidden;
  }
}
.modal.opened {
  animation: appear 0.5s ease-out forwards;
}
.modal.closed {
  animation: disappear 0.5s ease-out forwards;
}
.modal .modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.modal .modal-container .content-img {
  width: 80%;
}
.modal .modal-container .content-img img {
  width: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal .modal-container .content-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.modal .modal-container .content-text .client h5 {
  color: var(--titleColor);
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.modal .modal-container .content-text .techno-use {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.modal .modal-container .content-text .techno-use .span-project {
  background: var(--spanBgModal);
  border-radius: 5px;
  color: var(--spanColorModal);
  font-size: 0.9rem;
  font-weight: 700;
  padding: 5px 10px;
}
@media screen and (max-width: 550px) {
  .modal .modal-container .content-text .techno-use .span-project {
    font-size: 0.8rem;
    border-radius: 4px;
  }
}
.modal .modal-container .content-text span {
  color: var(--titleColor);
  font-size: 1.2rem;
  font-weight: 700;
}
.modal .modal-container .content-text p {
  color: var(--textColor);
  font-size: 1.1rem;
  line-height: 24px;
}
@media screen and (max-width: 550px) {
  .modal .modal-container .content-text p {
    font-size: 1rem;
    line-height: 23px;
  }
}
.modal .modal-container .links-project {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.modal .modal-container .links-project a {
  background: var(--spanBgModal);
  border-radius: 5px;
  color: var(--spanColorModal);
  font-weight: 700;
  padding: 5px 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.2s;
}
.modal .modal-container .links-project a i {
  font-size: 0.7rem;
}
.modal .modal-container .links-project a:hover {
  background: var(--spanHoverModal);
  color: white;
}
.modal .close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.modal .close-modal i {
  color: var(--textColor);
  font-size: 1.5rem;
}

.footer {
  margin-top: 100px;
}
@media screen and (max-width: 1000px) {
  .footer {
    margin-bottom: 50px;
  }
}
.footer #contact {
  text-align: center;
}
.footer #contact .contact {
  margin-bottom: 50px;
}
.footer #contact .footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 50px;
  background: var(--bgComponent);
  border-radius: 5px;
  border: 1px solid var(--border);
  padding: 40px 50px;
}
@media screen and (max-width: 900px) {
  .footer #contact .footer-content {
    padding: 30px;
  }
}
.footer #contact .footer-content .contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  text-align: left;
}
@media screen and (max-width: 750px) {
  .footer #contact .footer-content .contact-details {
    flex-direction: column;
    align-items: flex-start;
    justify-content: normal;
  }
}
.footer #contact .footer-content .contact-details a {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}
.footer #contact .footer-content .contact-details a .icon {
  background: var(--textColor);
  width: 50px;
  height: 50px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer #contact .footer-content .contact-details a .icon i {
  color: var(--bgComponent);
  font-size: 1.5rem;
}
.footer #contact .footer-content .contact-details a h3 {
  color: var(--titleColor);
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2px;
}
@media screen and (max-width: 900px) {
  .footer #contact .footer-content .contact-details a h3 {
    font-size: 1rem;
  }
}
.footer #contact .footer-content .contact-details a p {
  color: var(--textColor);
  font-family: "Lato", sans-serif;
}
@media screen and (max-width: 900px) {
  .footer #contact .footer-content .contact-details a p {
    font-size: 0.9rem;
  }
}
.footer #contact .footer-content .footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
@media screen and (max-width: 750px) {
  .footer #contact .footer-content .footer-list {
    gap: 20px 40px;
  }
}
.footer #contact .footer-content .footer-list .footer-li {
  opacity: 0;
  transform: translateY(-50px);
}
.footer #contact .footer-content .footer-list .footer-li.active-link {
  animation: appear 0.4s ease-out forwards;
}
.footer #contact .footer-content .footer-list .footer-li.active-link:nth-child(2) {
  animation-delay: 0.1s;
}
.footer #contact .footer-content .footer-list .footer-li.active-link:nth-child(3) {
  animation-delay: 0.2s;
}
.footer #contact .footer-content .footer-list .footer-li.active-link:nth-child(4) {
  animation-delay: 0.3s;
}
.footer #contact .footer-content .footer-list .footer-li.active-link:nth-child(5) {
  animation-delay: 0.4s;
}
.footer #contact .footer-content .footer-list .footer-li .footer-link {
  color: var(--textColor);
}
.footer #contact .footer-content .footer-list .footer-li .footer-link i {
  font-size: 2rem;
  transition: 0.2s;
}
@media screen and (max-width: 750px) {
  .footer #contact .footer-content .footer-list .footer-li .footer-link i {
    font-size: 1.8rem;
  }
}
.footer #contact .footer-content .footer-list .footer-li .footer-link i:hover {
  transform: scale(1.2);
}

.arrow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.2s;
}
@media screen and (max-width: 768px) {
  .arrow {
    position: absolute;
    opacity: 1;
    transform: none;
  }
}
.arrow.active-arrow {
  opacity: 1;
  transform: translateY(0);
}
.arrow i {
  color: var(--textColor);
  font-size: 2rem;
}/*# sourceMappingURL=index.css.map */