.arrow {
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.2s;

    @media screen and (max-width: 768px) {
        position: absolute;
        opacity: 1;
        transform: none;
    }
    
    &.active-arrow {
        opacity: 1;
        transform: translateY(0);
    }

    i {
        color: var(--textColor);
        font-size: 2rem;
    }
}