#contact {
    margin: 100px 0;
    text-align: center;

    .contact {
        color: var(--titleColor);
        font-family: $titleFont;
        font-size: 2.5rem;
        margin-bottom: 50px;
    }
    .contact-container {
        @include between;

        .contact-form {
            width: 50%;
            background: var(--bgComponent);
            border: 1px solid var(--border);
            border-radius: 5px;
            padding: 50px;
            text-align: left;

            .inputs {
                @include between;

                .left-part {
                    width: 47.5%;
                }
                .right-part {
                    width: 47.5%;
                }
            }
            .textarea {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                textarea {
                    resize: none;
                }
            }
            .input-container {
                display: flex;
                flex-direction: column;
                position: relative;
                margin-bottom: 50px;
            }
            label {
                color: var(--textColor);
                font-family: $bodyFont;
                font-size: 0.85rem;
                font-weight: 700;
                order: 1;
            }
            .input-form {
                background: transparent;
                border: none;
                border-bottom: 1px solid var(--border);
                color: var(--textColor);
                font-family: $bodyFont;
                width: 100%;
                padding: 5px;
                outline: 2px solid transparent;
                order: 2;
                
                &:focus {
                    ~label {
                        color: var(--textColor);
                    }
                    ~.underline {
                        border: 1px solid var(--textColor);
                        transform: scale(1);
                    }
                }
            }
            .underline {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                transform: scale(0);
                transition: all 0.2s ease;
            }
            .send {
                background: var(--textColor);
                border: none;
                border-radius: 2px;
                color: var(--bgComponent);
                font-family: $bodyFont;
                font-weight: 700;
                font-size: 0.8rem;
                letter-spacing: 1px;
                padding: 5px 10px;
                text-transform: uppercase;
                transition: 0.2s;
                cursor: pointer;
            }
        }
        .contact-details {
            width: 40%;
            background: var(--bgComponent);
            border-radius: 5px;
            border: 1px solid var(--border);
            padding:  50px;
            text-align: left;

            .details-title {
                color: var(--titleColor);
                font-family: $titleFont;
                font-size: 1.5rem;
                margin-bottom: 40px;
            }
            .details {
                display: flex;
                flex-direction: column;
                gap: 25px;

                .info-container {
                    padding-bottom: 25px;

                    a {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        text-decoration: none;

                        .icon {
                            background: var(--textColor);
                            width: 50px;
                            height: 50px;
                            border-radius: 2px;
                            @include center;

                            i {
                                color: var(--bgComponent);
                                font-size: 1.5rem;
                            }
                        }

                        h4 {
                            color: var(--titleColor);
                            font-family: $titleFont;
                            font-size: 1.2rem;
                            margin-bottom: 2px;
                        }
                        p {
                            color: var(--textColor);
                            font-family: $bodyFont;
                        }
                    }
                }
                .location-container {
                    border-bottom: none;
                    padding-bottom: 0;
                }

            }
        }
    }
}