.footer {
    margin-top: 100px;

    @media screen and (max-width: 1024px) {
        margin-bottom: 50px;
    }

    #contact {
        text-align: center;
    
        .contact {
            margin-bottom: 50px;
        }
        .footer-content {
            @include between;
            flex-direction: column-reverse;
            gap: 50px;
            background: var(--bgComponent);
            border-radius: 5px;
            border: 1px solid var(--border);
            padding: 40px 50px;

            @media screen and (max-width: 1024px) {
                padding: 25px;
            }
    
            .contact-details {
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-wrap: wrap;
                gap: 30px 50px;
                width: 100%;
                text-align: left;

                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: normal;
                }

                a {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    text-decoration: none;

                    .icon {
                        background: var(--textColor);
                        width: 45px;
                        height: 45px;
                        border-radius: 2px;
                        @include center;

                        i {
                            color: var(--bgComponent);
                            font-size: 1.35rem;
                        }
                    }

                    h3 {
                        color: var(--titleColor);
                        font-family: $titleFont;
                        font-size: 1.2rem;
                        margin-bottom: 2px;

                        @media screen and (max-width: 1024px) {
                            font-size: 1rem;
                        }
                    }
                    p {
                        color: var(--textColor);
                        font-family: $bodyFont;

                        @media screen and (max-width: 1024px) {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
            .footer-list {
                @include center;
                flex-wrap: wrap;
                gap: 50px;

                @media screen and (max-width: 768px) {
                    gap: 20px 30px;
                }
    
                .footer-li {
                    opacity: 0;
                    transform: translateY(-50px);
    
                    &.active-link {
                        animation: appear 0.4s ease-out forwards;
    
                        &:nth-child(2) {
                            animation-delay: 0.1s;
                        }
                        &:nth-child(3) {
                            animation-delay: 0.2s;
                        }
                        &:nth-child(4) {
                            animation-delay: 0.3s;
                        }
                        &:nth-child(5) {
                            animation-delay: 0.4s;
                        }
                    }
    
                    .footer-link {
                        color: var(--textColor);
                        
                        i {
                            font-size: 2rem;
                            transition: 0.2s;

                            @media screen and (max-width: 768px) {
                                font-size: 1.8rem;
                            }
                            @media screen and (max-width: 425px) {
                                font-size: 1.65rem;
                            }
    
                            &:hover {
                                transform: scale(1.2);
                            }
                        }
                    }
                }
            }
        }
    }
}