.header {
    @include between;
    margin-bottom: 100px;
    opacity: 0;
    transform: translateY(-30px);
    animation: appear 0.5s 1s ease-out forwards;

    .header-logo {
        height: 60px;
        width: 60px;
        background: $textColor;
        border-radius: 50%;
        padding: 10px;
        @include center;

        span {
            color: $bgBtn;
            font-family: $bodyFont;
            font-size: 1.5rem;
            font-weight: 700;
        }
    }
    .navbar {
        .nav-list {
            display: flex;
            gap: 30px;

            .nav-li {
                a {
                    text-decoration: none;
                    color: $textColor;
                    font-family: $bodyFont;
                    font-size: 1.5rem;
                }
            }
        }
    }
}