.modal {
    background: var(--bgComponent);
    font-family: $bodyFont;
    padding: 50px 30px 15px 30px;
    max-width: 550px;
    min-width: 320px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    transform: translateX(1000px);
    z-index: 1000;
    box-shadow: inset 5px 0 0 0 var(--border);

    @media screen and (max-width: 768px) {
        overflow: scroll;
        overflow-x: hidden;
        padding: 50px 30px;
    }

    &.opened {
        animation: appear 0.5s ease-out forwards;
    }
    &.closed {
        animation: disappear 0.5s ease-out forwards;
    }

    .modal-container {
        @include center;
        flex-direction: column;
        gap: 50px;

        .content-img {
            width: 80%;

            img {
                width: 100%;
                border-radius: 5px;
                object-fit: cover;
            }
        }
        .content-text {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .client {
                h4 {
                    color: var(--titleColor);
                    font-size: 1.2rem;
                    font-weight: 700;
                    margin-bottom: 5px;
                }
            }
            .techno-use {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 10px;

                .span-project {
                    background: var(--spanBgModal);
                    border-radius: 3px;
                    color: var(--spanColorModal);
                    font-size: 0.9rem;
                    font-weight: 700;
                    padding: 5px 10px;

                    @media screen and (max-width: 425px) {
                        font-size: 0.8rem;
                    }
                }
            }
            span {
                color: var(--titleColor);
                font-size: 1.2rem;
                font-weight: 700;
            }
            p {
                color: var(--textColor);
                font-size: 1.1rem;
                line-height: 24px;

                @media screen and (max-width: 425px) {
                    font-size: 1rem;
                    line-height: 23px;
                }
            }
        }
        .links-project {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 20px;

            a {
                background: var(--spanBgModal);
                border-radius: 3px;
                color: var(--spanColorModal);
                font-weight: 700;
                padding: 5px 15px;
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 10px;
                transition: background 0.2s ease-out,
                color 0.2s ease-out;

                i {
                    font-size: 0.7rem;
                }
                &:hover {
                    background: var(--spanHoverModal);
                    color: white;
                }
            }
        }
    }
    .close-modal {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 20px;
        height: 20px;
        @include center;
        cursor: pointer;

        i {
            color: var(--textColor);
            font-size: 1.5rem;
        }
    }
}